<form class="ui segment form" action="/dashboard/addassessment" method="POST">
  <div class="ui form">
    <div class="three fields">
      <div class="field">
        <label>Weight</label>
        <input name="weight" type="text" placeholder="00.00Kg">
      </div>
      <div class="field">
        <label>Chest</label>
        <input name="chest" type="text" placeholder="00.00cm">
      </div>
      <div class="field">
        <label>Thigh</label>
        <input name="thigh" type="text" placeholder="00.00cm">
      </div>
    </div>
    <div class="three fields">
      <div class="field">
        <label>Upper Arm</label>
        <input name="upperArm" type="text" placeholder="00.00cm">
      </div>
      <div class="field">
        <label>Waist</label>
        <input name="waist" type="text" placeholder="00.00cm">
      </div>
      <div class="field">
        <label>Hips</label>
        <input name="hips" type="text" placeholder="00.00cm">
      </div>
    </div>
  </div>
  <button class="ui blue submit button">Add Assessment</button>
</form>