#{extends 'main.html'/}
#{set title:'Account Settings'/}
#{menu id:"account", member:member/}

<div class="ui two column grid basic middle aligned segment">
  <div class="column">
    <img class="ui image" src="/public/images/gym.jpg"/>
  </div>

  <div class="column">
    <form class="ui stacked segment form" action="/account/update" method="post">
      <h3 class="ui header">Settings</h3>
      <div class="two fields">
        <div class="field">
          <label>Name</label>
          <input placeholder="Name" type="text" name="name" value="${member.name}">
        </div>
        <div class="field">
          <label>Gender</label>
          <input placeholder="Gender" type="text" name="gender" value="${member.gender}">
        </div>
      </div>
      <div class="field">
        <label>Email</label>
        <input placeholder="Email" type="text" name="email" value="${member.email}">
      </div>
      <div class="field">
        <label>Password</label>
        <input type="password" name="password" value="${member.password}">
      </div>
      <div class="field">
        <label>Address</label>
        <input type="text" name="address" placeholder="Address" value="${member.address}">
      </div>
      <div class="two fields">
        <div class="field">
          <label>Height</label>
          <input placeholder="Height" type="text" name="height" value="${member.height}">
        </div>
        <div class="field">
          <label>Staring Weight</label>
          <input placeholder="Staring Weight" type="text" name="weight" value="${member.startingWeight}">
        </div>
      </div>


      <button class="ui blue submit button">Submit</button>
    </form>
  </div>

</div>