#{extends 'main.html' /}
#{set title:'Admin' /}
#{menu id:'admin', member:member/}

<section class="ui raised segment">
  <header class="ui header">
    Member List
  </header>

  <section class="ui link items raised segment">
  #{list items:memberlist, as:'user'}
    <div class="item">
      <div class="ui tiny image">
        <i class="huge github icon"></i>
      </div>


      <div class="content">
        <div class="header">${user.name}
      #{if user.isTrainer()}
        &nbsp; <a class="ui red tag label">Trainer</a>
        #{/if}

      </div>

        <div class="description">
          <a href="/admin/user/${user.id}/dashboard">
          ${user.assessmentList.size()} Assessments
          </a>
        </div>
      </div>

    </div>
  #{/list}
  </section>

</section>