#{extends 'main.html' /}
#{set title:'Admin' /}
#{menu id:'dashboard'/}

<section class="ui raised segment">
  <header class="ui header">
    Member List
  </header>

  <section class="ui link items raised segment">
  #{list items:memberlist, as:'member'}
    <div class="item">
      <div class="ui tiny image">
        <i class="huge github icon"></i>
      </div>


      <div class="content">
        <div class="header">${member.name}</div>

        <div class="description">
          <a href="/admin/user/${member.id}/dashboard">
          ${member.assessmentList.size()} Assessments
          </a>
        </div>
      </div>

    </div>
  #{/list}
  </section>

</section>