#{extends 'main.html' /}
#{set title:'Dashboard' /}

#{menu id:"admin", member:member/}
<section class="ui equal width grid raised segment">

  <section class="ui column">
    <h2 class="ui center aligned icon header">
      <i class="user icon"></i>
    ${ user.name.toUpperCase()}
    </h2>
  </section>

  <section class="ui column">
    <h2 class="ui center aligned icon header">
      <i class="${user.weightStatus()} dashboard icon"></i>
      IDEAL WEIGHT INDICATOR
    </h2>
  </section>

  <section class="ui center aligned  column">
    <div class="ui statistic">
      <div class="value">
        <i class="heartbeat icon"></i> ${ user.currentBMI() }
      </div>
      <div class="label">
        <h2>BMI</h2>
      </div>
    </div>
  </section>

  <section class="ui center aligned  column">
    <div class="ui statistic">
      <div class="value">
        <i class="user md icon"></i>
      </div>
      <div class="label">
        <h2> ${ user.determineBMICategory() }</h2>
      </div>
    </div>
  </section>
</section>

<section class="ui raised segment">
  <header class="ui header">
    Assessment List
  </header>
#{list items: user.assessmentList, as: 'assessment'}

<table class="ui fixed table">
    <thead>
    <tr>
      <th>Weight</th>
      <th>Chest</th>
      <th>Thigh</th>
      <th>Upper Arm</th>
      <th>Waist</th>
      <th>Hips</th>
      <th>Comment</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td> ${assessment.weight} </td>
      <td> ${assessment.chest} </td>
      <td> ${assessment.thigh} </td>
      <td> ${assessment.upperArm} </td>
      <td> ${assessment.waist} </td>
      <td> ${assessment.hips} </td>
      <td> ${assessment.comment} </td>
    </tr>
    </tbody>
  </table>
  <section class="ui container">
    <form class="ui form" method="post" action="/admin/assessment/${assessment.id}/addcomment ">
      <div class="field">
        <label for="comment">Comments</label>
        <textarea id="comment" rows="2" name="comment">${assessment.comment}</textarea>
      </div>
      <button class="ui blue submit button">Update</button>

    </form>
  </section>
#{/list}


</section>

