#{extends 'main.html' /}
#{set title:'Dashboard' /}

#{menu id:"dashboard", member:member/}
<section class="ui equal width grid raised segment">

  <section class="ui column">
    <h2 class="ui center aligned icon header">
      <i class="user icon"></i>
    ${ member.name.toUpperCase()}
    </h2>
  </section>

  <section class="ui column">
    <h2 class="ui center aligned icon header">
      <i class="${member.weightStatus()} dashboard icon"></i>
      IDEAL WEIGHT INDICATOR
    </h2>
  </section>

  <section class="ui center aligned  column">
    <div class="ui statistic">
      <div class="value">
        <i class="heartbeat icon"></i> ${ member.currentBMI() }
      </div>
      <div class="label">
        <h2>BMI</h2>
      </div>
    </div>
  </section>

  <section class="ui center aligned  column">
    <div class="ui statistic">
      <div class="value">
        <i class="user md icon"></i>
      </div>
      <div class="label">
        <h2> ${ member.determineBMICategory() }</h2>
      </div>
    </div>
  </section>
</section>

#{addAssessment /}



<section class="ui raised segment">
  <header class="ui header">
    Assessment List
  </header>
  <table class="ui fixed table">
    <thead>
    <tr>
      <th>Weight</th>
      <th>Chest</th>
      <th>Thigh</th>
      <th>Upper Arm</th>
      <th>Waist</th>
      <th>Hips</th>
      <th>Comment</th>
    </tr>
    </thead>
    <tbody>
    #{list items: member.assessmentList, as: 'assessment'}
    <tr>
      <td> ${assessment.weight} </td>
      <td> ${assessment.chest} </td>
      <td> ${assessment.thigh} </td>
      <td> ${assessment.upperArm} </td>
      <td> ${assessment.waist} </td>
      <td> ${assessment.hips} </td>
      <td></td>
    #{/list}
    </tbody>
  </table>

</section>

